{{#> base}}
    {{#* inline "head"}}
        <title>OLIVIA ZUO - COMMERCIAL</title>
        <link rel="icon" type="image/x-icon"
              href="https://image-resizer.simonpforster.com/oliviazuo-portfolio/elements/element-blue.png?width=480">

        <link rel="stylesheet" href="/static/styles/page/commercial.css">
    {{/inline}}

    {{#* inline "screen" }}

    {{/inline}}

    {{#* inline "offscreen" }}
        <div id="offscreen">
            <section class="section" id="nike-big-bang">
                {{ details project_id="nike-big-bang-network" }}
                <div class="media-section">
                    <div class="media-item desktop-2-8">
                        <div style="width: 60%; margin-left: auto; margin-right: 0;">{{ image
                                path="/commercial/nike/icon-3.png" }}
                        </div>
                        <div style="width: 80%; rotate: 5deg;">{{ image path="/commercial/nike/icon-1.png" }}</div>
                        <div style="width: 50%; margin-left: auto; margin-right: 0;">{{ image
                                path="/commercial/nike/icon-2.png" }}
                        </div>
                    </div>
                    <div class="media-item desktop-4-8">
                        {{ gallery id="nike-big-bang-gallery" paths=[
                                "/commercial/nike/background-2.jpg",
                                "/commercial/nike/background-1.jpg",
                                "/commercial/nike/background-3.jpg"
                            ] }}
                    </div>
                </div>
            </section>

            <section class="section" id="new-balance">
                {{ details project_id="new-balance-scc" }}
                <div class="media-section">
                    <div class="media-item desktop-3-8">
                        {{ gallery id="gallery-new-balance" paths=[
                                "/commercial/new-balance/picture-shoot.jpg",
                                "/commercial/new-balance/picture-box-stickers.jpg",
                                "/commercial/new-balance/picture-shoe.jpg"
                            ] fix="height" }}
                    </div>
                </div>
                <div class="icon-section">
                    <div class="slider" id="new-balance-illustrations">
                        <ul>
                            <li>
                                {{ image path="/commercial/new-balance/illustration-monitor.png" }}
                            </li>
                            <li>
                                {{ image path="/commercial/new-balance/illustration-megaphone.png" }}
                            </li>
                            <li>
                                {{ image path="/commercial/new-balance/illustration-clapperboard.png" }}
                            </li>
                            <li>
                                {{ image path="/commercial/new-balance/illustration-laptop.png" }}
                            </li>
                            <li>
                                {{ image path="/commercial/new-balance/illustration-lightbulb.png" }}
                            </li>
                        </ul>
                        <div class="overlay-x"></div>
                    </div>
                </div>
            </section>

            <section class="section" id="budweiser-creative-x">
                {{ details project_id="budweiser-creative-x" }}
                <div class="media-section">
                    <div class="media-item desktop-3-8">
                        <img class="static"
                             src="https://storage.googleapis.com/image-resizer_europe-west1/oliviazuo-portfolio/commercial/budweiser/annual-creative-x-awards/target.gif"
                             fetchpriority="low">
                    </div>
                    <div class="media-item desktop-3-8">
                        {{ gallery id="budweiser-creative-x-gallery" paths=[
                                "/commercial/budweiser/annual-creative-x-awards/1-creative-brand-strategy.jpg",
                                "/commercial/budweiser/annual-creative-x-awards/1-scale-and-adapt.jpg",
                                "/commercial/budweiser/annual-creative-x-awards/2-creative-execution.jpg",
                                "/commercial/budweiser/annual-creative-x-awards/2-entertainment.jpg",
                                "/commercial/budweiser/annual-creative-x-awards/3-better-world.jpg",
                                "/commercial/budweiser/annual-creative-x-awards/3-smart-drinking.jpg",
                                "/commercial/budweiser/annual-creative-x-awards/4-draftline-of-the-year.jpg",
                                "/commercial/budweiser/annual-creative-x-awards/4-grand-prix.jpg"
                            ] }}
                    </div>
                </div>
            </section>

            <section class="section" id="budweiser-unmet-gala">
                {{ details project_id="budweiser-unmet-gala" }}
                <div class="media-section">
                    <div class="media-item desktop-3-8">
                        {{ gallery id="budweiser-creative-unmet-gala" paths=[
                                "/commercial/budweiser/unmet-gala/zoom-bg-balcony.png",
                                "/commercial/budweiser/unmet-gala/zoom-bg-kitchen.png"
                            ] }}
                    </div>
                    <div class="media-item desktop-3-8">
                        {{ image path="/commercial/budweiser/unmet-gala/zoom-bg-bedroom.png" }}
                    </div>
                </div>
            </section>

            <section class="section" id="nyu-shanghai-opening-fall">
                {{ details project_id="nyu-shanghai-opening-fall" }}
                <div class="media-section">
                    <div class="media-item desktop-3-8">
                        {{ image path="/commercial/nyu-shanghai/opening-fall-2022/cover.jpg" }}
                    </div>
                    <div class="media-item desktop-3-8">
                        {{ gallery id="nyu-shanghai-opening-fall-gallery" paths=[
                                "/commercial/nyu-shanghai/opening-fall-2022/pages-18-19.png",
                                "/commercial/nyu-shanghai/opening-fall-2022/pages-spread-21.png"
                            ] }}
                    </div>
                </div>
            </section>

            <section class="section" id="nyu-shanghai-10th-anniversary">
                {{ details project_id="nyu-shanghai-10th-anniversary" }}
                <div class="media-section">
                    <div class="media-item desktop-3-8">
                        {{ image path="/commercial/nyu-shanghai/10th-anniversary/cover.png" }}
                    </div>
                    <div class="media-item desktop-3-8">
                        {{ gallery id="nyu-shanghai-10th-anniversary-gallery" paths=[
                                "/commercial/nyu-shanghai/10th-anniversary/development-spread.png",
                                "/commercial/nyu-shanghai/10th-anniversary/development-pages.png",
                                "/commercial/nyu-shanghai/10th-anniversary/research-spread.png",
                                "/commercial/nyu-shanghai/10th-anniversary/research-pages.png",
                                "/commercial/nyu-shanghai/10th-anniversary/education-spread.png",
                                "/commercial/nyu-shanghai/10th-anniversary/education-pages.png",
                                "/commercial/nyu-shanghai/10th-anniversary/exchange-spread.png",
                                "/commercial/nyu-shanghai/10th-anniversary/exchange-pages.png",
                                "/commercial/nyu-shanghai/10th-anniversary/prospects-spread.png",
                                "/commercial/nyu-shanghai/10th-anniversary/prospects-pages.png"
                            ] }}
                    </div>
                </div>
            </section>

            <section class="section" id="omo">
                {{ details project_id="omo-floor-cleaner" }}
                <div class="media-section">
                    <div class="media-item desktop-3-8">
                        {{ image path="/commercial/omo/packaging-grey-bg.jpg" }}
                    </div>
                    <div class="media-item desktop-3-8">
                        {{ image path="/commercial/omo/ad.jpg" }}
                    </div>
                </div>
            </section>

            <section class="section" id="peets-coffee-pure-blend">
                {{ details project_id="peets-coffee-pure-blend" }}
                <div class="media-section">
                    <div class="media-item desktop-3-8">
                        {{ image path="/commercial/peets-coffee/pure-blend/PET-packaging-picture.jpg" }}
                    </div>
                    <div class="media-item desktop-3-8">
                        {{ gallery id="peets-coffee-pure-blend-gallery" paths=[
                    "/commercial/peets-coffee/pure-blend/PET-packaging-schematic-2.png",
                    "/commercial/peets-coffee/pure-blend/PET-packaging-schematic-1.png"
                    ] }}
                    </div>
                </div>
            </section>

            <section class="section" id="peets-coffee-arcteryx">
                {{ details project_id="peets-coffee-arcteryx" }}
                <div class="media-section">
                    <div class="media-item desktop-3-8">
                        {{ image path="/commercial/peets-coffee/peets-coffee-x-arcteryx/3-cans.jpg" }}
                    </div>
                    <div class="media-item desktop-3-8">
                        {{ gallery id="peets-coffee-arcteryx-gallery" paths=[
                                "/commercial/peets-coffee/peets-coffee-x-arcteryx/1-cans.jpg",
                                "/commercial/peets-coffee/peets-coffee-x-arcteryx/2-cans.jpg"
                            ] }}
                    </div>
                </div>
            </section>
        </div>
    {{/inline}}
{{/base}}