{{#> base}}
    {{#* inline "head"}}
        <title>OLIVIA ZUO - PERSONAL</title>
        <link rel="icon" type="image/x-icon"
              href="https://image-resizer.simonpforster.com/oliviazuo-portfolio/elements/element-cyan.png?width=480">

        <link rel="stylesheet" href="/static/styles/page/personal.css">
    {{/inline}}

    {{#* inline "screen" }}

    {{/inline}}

    {{#* inline "offscreen" }}
        <div class="section" id="alwfav-8">
            {{ details project_id="alwfav-8" }}
            <div class="media-section">
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2025/alwfav-8/scan-cover.jpg" }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2025/alwfav-8/scan-rerendered-memory-with-cover.jpg" }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2025/alwfav-8/scan-conversation.jpg" }}
                </div>
            </div>
        </div>

        <div class="section" id="rerendered-memory">
            {{ details project_id="rerendered-memory" }}
            <div class="media-section">
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2024/rerendered-memory/combine-scan.jpg" }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2024/rerendered-memory/poster-picture-printer.jpg" }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2024/rerendered-memory/poster-scan.jpg" }}
                </div>
            </div>
        </div>

        <div class="section" id="spectral-archive">
            {{ details project_id="spectral-archive" }}
            <div class="media-section">
                <div class="media-item desktop-3-8">
                    {{ gallery id="spectral-archive-gallery" paths=[
                            "/personal/2023/spectral-archive/day-3-1.jpg",
                            "/personal/2023/spectral-archive/day-3-2.jpg",
                            "/personal/2023/spectral-archive/day-3-3.jpg",
                            "/personal/2023/spectral-archive/day-6-1.jpg",
                            "/personal/2023/spectral-archive/day-6-2.jpg",
                            "/personal/2023/spectral-archive/day-6-3.jpg"
                        ] }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2023/spectral-archive/archive.jpg" }}
                </div>
            </div>
        </div>

        <div class="section" id="invisible-feast">
            {{ details project_id="invisible-feast" }}
            <div class="media-section">
                <div class="media-item desktop-3-8">
                    {{ gallery id="invisible-feast-gallery" paths=[
                            "/personal/2023/invisible-feast/web-index.jpg",
                            "/personal/2023/invisible-feast/web-projects.png",
                            "/personal/2023/invisible-feast/web-journal.png",
                            "/personal/2023/invisible-feast/web-recipes-1.png",
                            "/personal/2023/invisible-feast/web-recipes-2.png",
                            "/personal/2023/invisible-feast/web-about.png"
                        ] }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2023/invisible-feast/3-desert.png" }}
                </div>
            </div>

            <div class="icon-section">
                <div class="slider">
                    <ul>
                        <li>
                            {{ image path="/personal/2023/invisible-feast/appetizer.png" }}
                        </li>
                        <li>
                            {{ image path="/personal/2023/invisible-feast/dessert.png" }}
                        </li>
                        <li>
                            {{ image path="/personal/2023/invisible-feast/main-course.png" }}
                        </li>
                        <li>
                            {{ image path="/personal/2023/invisible-feast/salad.png" }}
                        </li>
                        <li>
                            {{ image path="/personal/2023/invisible-feast/staple-food.png" }}
                        </li>
                    </ul>
                    <div class="overlay-x"></div>
                </div>
                <div class="highlight" style="float: right; padding-right: 1.5rem;">SLIDE →</div>
            </div>
        </div>

        <div class="section" id="the-visitor">
            {{ details project_id="the-visitor" }}
            <div class="media-section">
                <div class="media-item desktop-3-8">
                    {{ gallery id="the-visitor-gallery-1" paths=[
                            "/personal/2022/the-visitor/drawing-board-7.jpg",
                            "/personal/2022/the-visitor/drawing-board-6.jpg",
                            "/personal/2022/the-visitor/drawing-board-5.jpg",
                            "/personal/2022/the-visitor/drawing-board-4.jpg",
                            "/personal/2022/the-visitor/drawing-board-3.jpg",
                            "/personal/2022/the-visitor/drawing-board-2-2.jpg"
                        ] }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ gallery id="the-visitor-gallery-2" paths=[
                            "/personal/2022/the-visitor/picture-booklet-1.jpg",
                            "/personal/2022/the-visitor/picture-booklet-2.jpg",
                            "/personal/2022/the-visitor/picture-booklet-3.jpg"
                        ] }}
                </div>
            </div>
        </div>

        <div class="section" id="gutter-and-soul">
            {{ details project_id="gutter-and-soul" }}
            <div class="media-section">
                <div class="media-item desktop-2-8">
                    {{ gallery id="gutter-and-soul-gallery" paths=[
                            "/personal/2022/gutter-and-soul/phase-2-cemeteryland.jpg",
                            "/personal/2022/gutter-and-soul/phase-1-make-a-wish.jpg"
                        ] }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2022/gutter-and-soul/phase-3-the-dive.jpg" }}
                </div>
            </div>
        </div>

        <div class="section" id="dialogue">
            {{ details project_id="dialogue" }}
            <div class="media-section">
                <div class="media-item desktop-3-8">
                    {{ gallery id="dialogue-gallery-1" paths=[
                            "/personal/2022/dialogue/alphabet.jpg",
                            "/personal/2022/dialogue/poster-mockups.jpg"
                        ] }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ gallery id="dialogue-gallery-2" paths=[
                            "/personal/2022/dialogue/installation-1.jpg",
                            "/personal/2022/dialogue/installation-2.jpg"
                        ] }}
                </div>
            </div>
        </div>

        <div class="section" id="another-romance">
            {{ details project_id="another-romance" }}
            <div class="media-section">
                <div class="media-item desktop-3-8">
                    {{ gallery id="another-romance-gallery" paths=[
                            "/personal/2021/another-romance/installation-render-1.jpg",
                            "/personal/2021/another-romance/installation-render-3.jpg"
                        ] }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2021/another-romance/installation-picture.jpg" }}
                </div>
                <div class="media-item desktop-3-8">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <!--                    <iframe src="https://player.vimeo.com/video/664246920?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"-->
                        <!--                            allow="autoplay; fullscreen; picture-in-picture; clipboard-write"-->
                        <!--                            style="position:absolute;top:0;left:0;width:100%;height:100%;border:0;"-->
                        <!--                            title="Another Romance"></iframe>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="obloom">
            {{ details project_id="obloom" }}
            <div class="media-section">
                <div class="media-item desktop-3-8">
                    {{ gallery id="obloom-gallery-1" paths=[
                            "/personal/2021/obloom/interface-1.jpg",
                            "/personal/2021/obloom/interface-2.jpg",
                            "/personal/2021/obloom/interface-3.jpg",
                            "/personal/2021/obloom/interface-4.jpg"
                        ] }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2021/obloom/compact-disc.jpg" }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2021/obloom/floppy-disc.jpg" }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ gallery id="obloom-gallery-2" paths=[
                "/personal/2021/obloom/posters-1.jpg",
                "/personal/2021/obloom/posters-2.jpg"
                ] }}
                </div>
            </div>
        </div>

        <div class="section" id="utopia">
            {{ details project_id="utopia" }}
            <div class="media-section">
                <div class="media-item desktop-3-8">
                    {{ image path="/personal/2020/utopia/artboard-2.jpg" }}
                </div>
                <div class="media-item desktop-3-8">
                    {{ gallery id="utopia-gallery" paths=[
                            "/personal/2020/utopia/artboard-1-copy-2.jpg",
                            "/personal/2020/utopia/artboard-1-copy-1.jpg",
                            "/personal/2020/utopia/artboard-1-copy-5.jpg"
                        ] }}
                </div>
            </div>
        </div>

    {{/inline}}
{{/base}}
